name: CI Pipeline

on:
  push:
    branches: 
      - master
  pull_request:
    branches:
      - master

jobs:
  static_analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Install poetry
        uses: dschep/install-poetry-action@v1.3
      - name: Install dependencies
        run: ~/.poetry/bin/poetry install
      - name: Run pylint
        run: pylint broker *.py
      - name: Run flake8
        run: flake8 broker *.py
