name: CI Pipeline

on:
  push:
    branches: 
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v1.2.0
        with:
          python-version: 3.7
      - name: Install poetry
        uses: dschep/install-poetry-action@v1.3
      - name: Install dependencies
        run: ~/.poetry/bin/poetry install
      - name: Run pylint
        run: pylint broker *.py --ignore setup.py
      - name: Run flake8
        run: flake8 broker *.py --exclude setup.py
      - name: Run tests
        run: pytest --cov=broker
